<div flex layout="row" tabIndex="-1" role="main" layout-padding>
  <md-content flex="80" offset="10" class="md-whiteframe-5dp" style="border:solid #ccc 8px;">
    <div flex layout="column" tabIndex="-1" role="main" layout-fill>
    <md-toolbar layout="row" class="md-whiteframe-z1">
      <h1 class="md-display-1">CARFAX Ask Me Anything</h1>
    </md-toolbar>

    <md-content flex id="content">
        <md-input-container>
          <label>Search for people with:</label>
          <input type="text" ng-model="query" required>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="search()">Primary</md-button>
        <div layout="row">
          <h2 ng-show="hc.matchingEmployees">Look who we found:</h2>
        </div>
        <div flex offset="33">
        </div>
        <div layout="row" flex layout-wrap>
          <md-card style="text-align: center" ng-repeat="employee in matchingEmployees" ng-click="openEmployee(employee._source.name)">
           <md-card-content class="md-padding">
             <div layout="row">
               <img ng-src="{{employee._source.image}}" class="avatar"></img>
               <h2>{{employee._source.name}}</h2>
             </div>
             <div layout="row">
               <md-list>
                 <md-list-item class="md-3-line">
                   <div class="md-list-item-text" layout="column">
                     <h3>Strengths</h3>
                     <p ng-repeat="strength in employee._source.strengths | limitTo:5">{{strength.name}}</p>
                   </div>
                 </md-list-item>
               </md-list>
               <md-list>
                 <md-list-item class="md-3-line">
                   <div class="md-list-item-text" layout="column">
                     <h3>Skills</h3>
                     <p ng-repeat="skill in employee._source.skills | limitTo:5">{{skill.name}}</p>
                   </div>
                 </md-list-item>
               </md-list>
            </div>
           </md-card-content>
           <md-card-footer>
             <h4>{{employee._source.team}}</h4>
             <p>{{employee._source.role}}</p>
           </md-card-footer>
          </md-card>
        </md-content>
      </div>
    </div>
  </md-content>
</div>
